<div class="col-sm-12 col-md-12 col-lg-10 main-container">
    <h1 class="dashboard-title">Hello, <br> put data!</h1>
    <div class="row">
        <div class="table-wrapper shadow col-md-11 col-lg-6">
            <div class="table-title">Your Information</div>
            <div class="row table-info">
                <div class="col-md-6 col-lg-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">First Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Last Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Email</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-6 col-lg-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">Complex</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Apartment</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Rent</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <a href="#" data-toggle="modal" data-target="#update-info" class="update-button">Update Info</a>
        </div>
        <!--tablet view-->
        <div class="table-wrapper-md shadow col-md-10 col-lg-6">
            <div class="table-title">Your Information</div>
            <div class="row table-info">
                <div class="col-md-6 col-lg-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">First Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Last Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Email</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-6 col-lg-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">Complex</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Apartment</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Rent</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="put in data">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <a href="#" data-toggle="modal" data-target="#update-info" class="update-button">Update Info</a>
        </div>
        
        <div class="col-md-11 col-lg-5 requests-wrapper">
            <!--main view-->
            <div class="col-md-10 col-lg-12 service-wrapper shadow">
                <div class="table-title">Request Maintenance</div>
                <p class="table-desc">Please contact us if you need any maintenance</p>
                <a href="#" id ="maintenance-begin-request" class="update-button request-button">Request Mainenance</a>
            </div>
            <div class="col-md-10 col-lg-12 service-wrapper justify-content-center shadow">
                <div class="table-title">Update Pet Status</div>
                <p class="table-desc">Please update us if you got/given away a pet</p>
                <a href="#" class="update-button request-button">Update Pet Status</a>
            </div>

            <!--tablet view-->
            <div class="col-md-6 col-lg-12 service-wrapper-md shadow">
                <div class="table-title">Request Maintenance</div>
                <p class="table-desc">Please contact us if you need any maintenance</p>
                <a href="#" id ="maintenance-begin-request" class="update-button request-button">Request Mainenance</a>
            </div>
            <div class="col-md-5 col-lg-12 service-wrapper-md justify-content-center shadow">
                <div class="table-title">Update Pet Status</div>
                <p class="table-desc">Please update us if you got/given away a pet</p>
                <a href="#" class="update-button request-button">Update Pet Status</a>
            </div>

            <!--small screen buttons-->
            <div class="col-sm-12 request-button-sm">
                 <a href="#" id ="maintenance-begin-request" class="">Request Mainenance</a>
            </div>
            <div class="col-sm-12 request-button-sm">
                <a href="#" class="">Update Pet Status</a>
            </div>
        </div>
    </div>
</div>



{{!-- <div><button id="tenantlogout" type="button" class="form-button">Submit</button></div> --}}

<!--modal-->
<div class="modal fade" id="update-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="left-form">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="firstName" placeholder="put in data">
                    </div>
                    <div class="right-form">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="lastName" placeholder="Jobs">
                    </div>
                    <label for="email">Email:</label>
                    <input type="text" class="email" placeholder="email">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="form-button">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/tenant-logout"></script>
