* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html, body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}


/*scrollbar styles*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: lightgray; 
}
::-webkit-scrollbar-thumb {
    background: #7D9694;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 105, 104);
}


/*main styles*/
.main-container {
    background-image: url('/img/dashboard-bg.png');
    background-repeat: repeat;
    height: 100vh;
    width: 84vw;
}
.container-fluid {
    display: table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; 
    box-sizing: border-box;
}


/*login/sign up page*/
.signin-background {
    background-image: url('/img/login-background.jpg');
    background-repeat: no-repeat;
    height: 93.3vh;
}
.form-title {
    text-align: center;
    font-size: 40px;
    padding: 5px;
    color: black;
}
.form-wrapper {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 140px 10px;
}
.signup-form-wrapper {
    margin: 33px auto;
}
.tenant-form-wrapper {
    padding: 137px 10px;
}
.form-background {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 20px;
}
.form-wrapper label {
    text-align: left;
    margin-left: 125px;
}
.form-wrapper input {
    width: 50%;
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: none;
    border-bottom: thin solid #7D9694;
}
.form-wrapper button {
    padding: 5px 15px;
    width: 25%;
    background: #7D9694;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}
.form-wrapper p {
    margin: 10px 0;
    padding: 5px;
}
.radio-wrapper label, .radio-wrapper input {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: 5%;
}
.small-text {
    font-size: 15px;
}
footer {
    background: #7D9694;
    padding: 13px 5px 0px 5px;
    color: white;
    font-size: 16px;
}


/*nav styles*/
.nav-container {
    background-color: #7D9694;
    color: white;
    height: 100%;
    padding: 5px;
    width: 100vw;
}
.nav-container a {
    padding: 15px;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    color: white;
    display: block;
}
.nav-link:hover {
    background: white;
    transition: 0.3s;
    color: black;
}
.nav-title {
    font-size: 50px;
    padding: 15px; 
}
.lower-nav a {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.lower-nav a:hover {
    background: white;
    color: black;
    transition: 0.3s;
}


/*dashboard page*/
.dashboard-title {
    width: 100%;
    padding: 15px;
    text-align: left;
    font-size: 50px;
    text-transform: capitalize;
}
.main-form-wrapper {
    padding: 10px;
    margin: 10px;
    background: white;
    width: 50%;
    margin: 10px auto 25px auto;
    border-radius: 10px;
}
.main-form {
    width: 100%;
}
.main-form input {
    width: 100%;
    border: none;
    border-bottom: thin solid #7D9694;
}
.left-form {
    float: left;
    width: 49%;
}
.right-form {
    float: right;
    width: 49%;
}
.form-button {
    padding: 5px 15px;
    margin: 10px 0;
    width: 100%;
    background: #7D9694;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}
.form-button:focus {
    outline: none;
}
.fab {
    width: 70px;
    height: 70px;
    background-color: #7D9694;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
  
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
    cursor: pointer;
 }


/*card styles*/
.card {
    width: 90%;
    margin: 25px 0;
    border-radius: 15px;
}
.card h5 {
    text-align: center;
}
.list-wrapper-left {
    float: left;
    list-style: none;
}
.list-wrapper-right {
    float: right;
    text-align: right;
    list-style: none;
}
.list-wrapper-left li, .list-wrapper-right li {
    padding: 0;
    margin: 0;
}
.card a {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #7D9694;
    color: white;
    outline: none;
    border: none;
}


/*tenant dashboard page*/           
.table-wrapper {
    background: white;
    padding: 0;
    border-radius: 10px;
    margin: 15px;
}
.table-wrapper input, label {
    width: 100%;
}
.table-wrapper input {
    padding: 5px;
}
.modal input {
    padding: 5px;
}
.table-title {
    color: white;
    background: #7D9694;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}
.table-info {
    padding: 5px 15px;
    background-color: white;
}
.table-desc {
    padding: 5px 15px;
}
.table-desc-sm {
    display: none;
}
.update-button {
    width: 50%;
    text-align: center;
    float: right;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    background: #7D9694;
}
.update-button:hover {
    text-decoration: none;
    color: white;
}
.update-button:focus {
    outline: none;
}
.service-wrapper {
    background: white;
    width: 100%;
    padding: 0;
    margin: 15px;
    border-radius: 10px;
}
.service-wrapper-md {
    display: none;
}
.table-wrapper-md {
    display: none;
}
.request-button-sm {
    display: none;
}

/*media queries*/
@media screen and (max-width: 1200px) {
    /*login screen*/
    .form-title {
        font-size: 3vw;
    }
    .form-wrapper {
        padding: 168px 10px;
        width: 75%;
    }
    .form-wrapper label {
        text-align: left;
        margin-left: 155px;
    }
    .signup-form-wrapper {
        margin: 33px auto;
    }
    .tenant-form-wrapper {
        padding: 139.5px 10px;
    }
    .form-background {
        padding: 15px;
    }
    .radio-wrapper label, .radio-wrapper input {
        margin: 0 5px;
        width: 5%;
    }
    /*dashboard*/

}

@media screen and (max-width: 980px) {
    /*main*/
    .main-container {
        height: 79.3vh;
    }
    /*nav*/
    .nav-container {
        width: 100vw;
        padding: 20px 0;
        height: auto;
        text-align: left;
        top: 0;
    }
    .nav-container a {
        padding: 15px;
        font-size: 20px;
        color: white;
        display: inline;
    }
    .nav-title {
        text-align: left;
        font-size: 50px;
        padding: 5px 15px; 
        margin: 0;
    }
    .nav-link:hover {
        background: white;
        transition: 0.3s;
        color: black;
    }
    .lower-nav:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }

    /*login screen*/
    .form-title {
        font-size: 4vw;
    }
    .form-wrapper {
        padding: 166.5px 10px;
        width: 100%;
    }
    .form-wrapper label {
        text-align: left;
        margin-left: 155px;
    }
    .form-wrapper button {
        width: 50%;
    }
    .signup-form-wrapper {
        margin: 33px auto;
    }
    .tenant-form-wrapper {
        padding: 138px 10px;
    }
    .form-background {
        padding: 15px;
    }

    /*dashboard*/
    .dashboard-title {
        font-size: 25px;
        text-align: left;
        padding: 5px 20px;
    }
    .table-wrapper {
        margin: 10px 15px 15px 35px;
    }

    .table-wrapper-md {
        display: none;
    }
    .table-title {
        font-size: 20px;
        text-align: center;
    }
    .service-wrapper {
    }
    .service-wrapper-md {
        display: none;
    }
    .requests-wrapper {
        margin: 0;
        display: inline;
    }
    .update-button {
        width: 97%;
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    /*main*/
    .main-container {
        width: 100vw;
    }
    /*nav*/
    .nav-container {
        width: 100vw;
    }
    .nav-container a {
        padding: 5px 15px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: inline;
    }
    .nav-title {
        padding: 0 15px; 
    }
    .lower-nav {
    }
    
    /*login screen*/
    .form-title {
        font-size: 5vw;
    }
    .form-wrapper {
        padding: 167px 10px;
        width: 100%;
    }
    .form-wrapper label {
        text-align: left;
        margin-left: 110px;
    }
    .form-wrapper button {
        width: 50%;
    }
    .signup-form-wrapper {
        margin: 33px auto;
    }
    .tenant-form-wrapper {
        padding: 138.5px 10px;
    }
    .form-background {
        padding: 15px;
    }
    .radio-wrapper label, .radio-wrapper input {
        margin: 0 5px;
        padding: 0;
        width: 10%;
    }

    /*dashboard*/
    .table-wrapper {
        display: none;
    }
    .table-wrapper-md {
        display: block;
        background: white;
        padding: 0;
        border-radius: 10px;
        margin: 15px;
    }
    .dashboard-title {
        font-size: 30px;
        text-align: center;
    }
    .table-wrapper {
        margin: 5px 60px 5px 60px;
        width: 100vw;
    }
    .requests-wrapper {
        display: inline-flex;
        margin: 0 25px;
    }
    .service-wrapper {
        display: none;
    }
    .service-wrapper-md {
        display: inline;
        margin: 15px 10px 5px 10px;
    }
    .service-wrapper-md {
        background: white;
        padding: 0;
        margin: 15px;
        border-radius: 10px;
    }
    .table-title {
        padding: 15px;
    }
    .table-list {
        display: none;
    }
    .update-button {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    /*main*/
    .main-container {
        height: auto;
    }
    /*nav*/
    .nav-container {
        padding: 0;
        margin: 0;
        text-align: center;
        height: 100px;
    }
    .nav-container a {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 2.5vw;
        color: white;
        display: inline;
    }
    .nav-title {
        font-size: 7vw;
        width: 100vw;
        text-align: center;
        padding: 5px 15px; 
    }

    /*login screen*/
    .form-title {
        font-size: 7vw;
    }
    .form-wrapper {
        padding: 145.5px 10px;
        width: 100%;
    }
    .form-wrapper label {
        text-align: left;
        margin-left: 60px;
    }
    .form-wrapper input {
        width: 75%;
    }
    .form-wrapper button {
        width: 75%;
        margin: 15px;
        padding: 10px;
    }
    .signup-form-wrapper {
        margin: 33px auto;
    }
    .tenant-form-wrapper {
        padding: 117px 10px;
    }
    .form-background {
        padding: 15px;
    }
    .radio-wrapper label, .radio-wrapper input {
        margin: 0 5px;
        width: 7%;
    }

    /*dashboard*/
    .main-container {
        width: 105vw;
    }
    .table-wrapper {
        margin: 5px 40px 5px 40px;
    }
    .table-info label {
        font-size: 2vw;
        padding: 0;
    }
    .table-info input {
        width: 100%;
    }
    .table-title {
        font-size: 3vw;
        display: none;
    }
    .table-desc {
        display: none;
    }
    .update-button {
        width: 90%;
        margin: 5px 25px;
    }
    .request-button {
        padding: 10px;
        margin: 0 20px;
        width: 100%;
    }
    .service-wrapper {
        margin: 5px 30px;
        width: 95%;
        padding: 0;
        display: none;
    }
    .service-wrapper-md {
        display: none;
    }
    .request-button-sm {
        display: inline-flex;
        margin: 15px 0;
    }
    .request-button-sm a {
        background: #7D9694;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        color: white;
    }
}

